<div class="container">
    <div class="row">
        
        
      <div class="col-md-5">
        <form  #quoteForm='ngForm' (ngSubmit)="formSubmit()">
            <h5 class="display-5"> {{formTitle}} </h5>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="title" class="form-control" id="title" aria-describedby="titleHelp"
               placeholder="Enter title" [(ngModel)] = "noteTitle" name="first">
            </div>
            <div class="form-group">
              <label for="note">Note</label>
              <input type="note" class="form-control p-4" id="note" placeholder="Enter note"
              [(ngModel)] = "noteMessage" name="second">
            </div>
            <button type="button" class="btn btn-success btm-sm m-3"> Submit </button>
            <button type="button" class="btn btn-secondary m-3" > Cancel </button>
           
        </form>
     </div>

     <div class="col-md-7 text-center">

      <div class="card p-2" *ngFor="let note of notes">
        <p>{{note.noteTitle}}</p>
        <p>{{note.noteMessage}}</p>
      </div>

       <h5> {{noteTitle}} </h5>
       <p> {{noteMessage}} </p>
     </div>

     
    </div>
</div>